@charset "utf-8";
/*!
 * color_green CSS
 * ---------------------------------------------
 * 配色に関するCSSです
 */

/* text-color */

a,
.freetxt h4,
.freetxt .lv4
{ color: #2F9D2A; }

a:visited
{ color: #777; }


/* background-color */

#footer,
.freetxt table thead th,
#main #BlogComment #BlogCommentList .comment
{ background: #EBEEE5; }

  #document #main #BlogComment #BlogCommentList .comment:after {
    border-color: transparent transparent #EBEEE5 transparent;
  }


#header #headerNav ul li a:hover,
#header #headerNav ul li a:focus,
#globalNav ul li ul,
#globalNav ul li ul li a,
#main .section .sectionHeader,
#main .headline .post,
#main .posts .post .postContents p.more,
#main .section .search-result,
#sub .widget-local-navi ul li a:hover,
#sub .widget-local-navi ul li a:focus,
#sub .widget-local-navi ul li.current a:link,
#sub .widget-local-navi ul li.current a:visited,
#sub .widget,
.freetxt h2,
.freetxt .lv2,
.freetxt table tbody th,
.freetxt .box02,
.freetxt blockquote,
#Home #main #pickup .post,
#Home #main #topSummary .sectionContents .post a:hover,
#Home #main #headline .post
{ background-color: #F4F6F2; }

#main .headline .even
{ background: transparent; }

#main .headline .postHover,
#Home #main #pickup .postHover
{ background-color: #EBEEE5; }

#footer .backToTop
{ background-color: #2F9D2A; }

#footer .backToTop a:hover
{ background-color: #3A1; }

#globalNav ul li ul li a:hover
{ background: #FFF; }


/* border-color */
#footer,
#main .categoryHeader,
#main .article .articleHeader,
#main .section .sectionHeader,
#main .posts .post .postHeader,
#main #commentFb h1,
#main #BlogComment h4,
#sub .widget-local-navi h2,
#sub .widget,
.freetxt h3,
.freetxt .lv3,
.freetxt hr,
.freetxt .box01,
#Home #main #topSummary .post a .postContents h1
{ border-color: #2F9D2A; }

#header #headerNav ul,
#header #headerNav ul li a,
#globalNav ul li ul li a,
#main .search .post,
#sub .widget-local-navi ul,
#sub .widget-local-navi ul li,
#main #ContentsNavi,
#Home #main #topSummary .sectionContents .post
{ border-color: #C9CBC2; }

.freetxt table,
.freetxt table th,
.freetxt table td
{ border-color: #B0B4AC; }

#main #BlogComment #BlogCommentList .comment:after {
  border-color: transparent transparent #EEECE0 transparent;
}


/* icons */

#main .posts .post .postContents p.more a,
.freetxt a.linkBtn:before,
#Home #main #pickup .post .postContents p.moreLink b,
#Home #main #topSummary .post .postContents p.moreLink b
{ background-image: url(../images/base/arrow_01_green.png); }

#main .search .post p.permalink a,
.widget-local-navi ul li a
{ background-image: url(../images/base/arrow_02_green.png); }

.freetxt h3,
.freetxt .lv3
{ background-image: url(../images/base/bullet_02_green.png); }

.freetxt ul li
{ background-image: url(../images/base/bullet_01_green.png); }


/* globalNav */
#globalNav {
  background: #248E23;
  border-style: solid;
  border-width: 2px 0;
  border-color: #30A010 transparent #16741B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#187E1D), to(#2E9B29));
  background-image: -webkit-linear-gradient(top, #187E1D, #2E9B29);
  background-image: -moz-linear-gradient(top, #187E1D, #2E9B29);
  background-image: -ms-linear-gradient(top, #187E1D, #2E9B29);
  background-image: -o-linear-gradient(top, #187E1D, #2E9B29);
  background-image: linear-gradient(top, #187E1D, #2E9B29);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#187E1D, endcolorstr=#2E9B29));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#187E1D, endcolorstr=#2E9B29))";
}

#globalNav ul {
  border-color: #16741B;
}

  #globalNav ul li {
    float: left;
  }

    #globalNav ul li a {
      color: #ECF0EA;
      border-color: #16741B;
      text-shadow: 0 0 .3em rgba(0,48,0,.4);
    }

      #globalNav ul li a:hover,
      #globalNav ul li a:focus,
      #globalNav ul li.stay a:link,
      #globalNav ul li.stay a:visited {
        background-color: #0CA409;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#0A9008), to(#11B10B));
        background-image: -webkit-linear-gradient(top, #0A9008, #11B10B);
        background-image: -moz-linear-gradient(top, #0A9008, #11B10B);
        background-image: -ms-linear-gradient(top, #0A9008, #11B10B);
        background-image: -o-linear-gradient(top, #0A9008, #11B10B);
        background-image: linear-gradient(top, #0A9008, #11B10B);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#0A9008, endcolorstr=#11B10B));
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#0A9008, endcolorstr=#11B10B))";
      }


/* searchBox */
#header #searchBox {
  background-color: #F3F4F0;
  border-color: #C9CBC2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E3E5E0), to(#F3F4F2));
  background-image: -webkit-linear-gradient(top, #E3E5E0, #F3F4F2);
  background-image: -moz-linear-gradient(top, #E3E5E0, #F3F4F2);
  background-image: -ms-linear-gradient(top, #E3E5E0, #F3F4F2);
  background-image: -o-linear-gradient(top, #E3E5E0, #F3F4F2);
  background-image: linear-gradient(top, #E3E5E0, #F3F4F2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#E3E5E0, endcolorstr=#F3F4F2));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#E3E5E0, endcolorstr=#F3F4F2))";
}
