@charset "utf-8";

/*
=================================================

　                 Parts CSS

部分的なパーツに関するCSSです
=================================================
*/


/* social
------------------------------------------------- */
#main .social {
	margin: 1.6em 0;
	zoom: 1;
}
#main .social:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}
	#main .social .hatena,
	#main .social .twitter,
	#main .social .google,
	#main .social .facebook,
	#main .social .mixi,
	#main .social .weibo {
		float: left;
	}

	#main .socialS .twitter { width: 105px; }
	#main .socialS .facebook { width: 110px; }
	#main .socialS .google { width: 70px; }
	#main .socialS .mixi { width: 83px; }
	#main .socialS .hatena { width: 60px; }
	#main .socialS .weibo { width: 65px; }

	#main .socialL .twitter { width: 130px; }
	#main .socialL .google { width: 80px; }
	#main .socialL .mixi { width: 83px; }
	#main .socialL .hatena { width: 115px; }
	#main .socialL .weibo { width: 65px; }

	#main .socialL .fbLike {
		clear: both;
		margin: 0;
		padding-top: 1.6em;
	}



/* backToTop
--------------------------------------------- */

#footer .backToTop {
	width: 32px;
	height: 96px;
	background-color: #999;
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-ms-border-radius: 6px 0 0 6px;
	-o-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.3);
	-ms-box-shadow: 0 0 6px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.3);
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}

	#footer .backToTop a {
		overflow: hidden;
		display: block;
		width: 32px;
		height: 48px;
		text-indent: -999px;
		text-decoration: none;
	}
	#footer .backToTop a.up {
		-webkit-border-radius: 6px 0 0 0;
		-moz-border-radius: 6px 0 0 0;
		-ms-border-radius: 6px 0 0 0;
		-o-border-radius: 6px 0 0 0;
		border-radius: 6px 0 0 0;
		background-position: 50% -290px;
	}
	#footer .backToTop a.down {
		-webkit-border-radius: 0 0 0 6px;
		-moz-border-radius: 0 0 0 6px;
		-ms-border-radius: 0 0 0 6px;
		-o-border-radius: 0 0 0 6px;
		border-radius: 0 0 0 6px;
		background-position: 50% -378px;
	}
	#footer .backToTop a:hover {
		background-color: #BBB;
	}



/* topicPath
------------------------------------------------- */

#main .topicPath {
	color: #777;
	font-size: 120%;
	margin-bottom: 1.6em;
}

#main .topicPath p {
}

	#main .topicPath p a,
	#main .topicPath p strong,
	#main .topicPath p .sep {
		display: -moz-inline-box;
		display: inline-block;
	}

	#main .topicPath p a {
		color: #777;
		text-decoration: none;
	}

	#main .topicPath p a.firstchild {
		padding-left: 0;
		margin-left: 0;
	}

	#main .topicPath p strong {
		font-weight: normal;
		color: #333;
	}

	#main .topicPath p .sep {
	}

	#main .topicPath p a:hover,
	#main .topicPath p a:focus {
		text-decoration: underline;
	}



/* categoryHeader
------------------------------------------------- */

#main .categoryHeader {
	margin: 2.4em 0 3.2em;
}

	#main .categoryHeader h1 {
		color: #333;
		font-size: 280%;
	}

	#main .categoryHeader .categoryDesc {
		margin: .5em 0 0 .1em;
		color: #777;
		font-size: 160%;
		line-height: 1.25; /* 20px */
	}


/* ContentsNavi(baserCMS)
------------------------------------------------- */
#main #ContentsNavi,
#main #contentsNavi {
	margin: 1.6em 0 4.8em;
	padding: 1.6em 0;
	border-style: solid;
	border-width: 1px 0;
	border-color: #CCC;
	width: 100%;
	text-align: center;
}

	#main #ContentsNavi a,
	#main #contentsNavi a {
		font-size: 140%;
		line-height: 1.286; /* 18px */
	}

		#main #ContentsNavi a:link,
		#main #ContentsNavi a:visited,
		#main #contentsNavi a:link,
		#main #contentsNavi a:visited {
			color: #333;
		}


/* pagination(baserCMS)
------------------------------------------------- */
#main .pagination {
	margin: 1.14em 0 3.43em;
	padding: 1.14em 0;
	font-size: 140%;
	line-height: 1.286; /* 18px */
	color: #777;
	border-style: solid;
	border-width: 1px 0;
	border-color: #CCC;
	width: 100%;
	text-align: center;
}

	#main .pagination div {
		margin: 0 1em;
		display: inline;
	}

	#main .pagination a {
		margin: 0 .5em;
	}

		#main .pagination a:link,
		#main .pagination a:visited {
			color: #333;
		}

	#main .pagination .current {
		margin: 0 .5em;
		color: #333;
		font-weight: bold;
	}


/* commentFb
------------------------------------------------- */
#main #commentFb {
	margin: 0 0 1.6em;
	font-size: 140%;
}

	#main #commentFb h1 {
		margin-bottom: 1.8em;
		border-style: solid;
		border-width: 1px 0 0;
		border-color: #999;
		padding: .8em .5em 0;
		font-size: 128.6%; /* 18px */
	}


/* BlogComment(baserCMS)
------------------------------------------------- */
#main #BlogComment {
	margin: 0;
	font-size: 140%;
}

	#main #BlogComment h4 {
		margin-bottom: 1.8em;
		border-style: solid;
		border-width: 1px 0 0;
		border-color: #999;
		padding: .8em .5em 0;
		font-size: 128.6%; /* 18px */
	}

#main #BlogComment #BlogCommentAddForm table {
		width: 100%;
}

	#main #BlogComment #BlogCommentAddForm table tr th {
		width: 13%;
		padding: .5em 2% .5em 0;
		text-align: right;
	}

	#main #BlogComment #BlogCommentAddForm table tr td {
		width: 85%;
		padding-bottom: .5em;
	}

	#main #BlogComment #BlogCommentAddForm table tr td small {
		display: block;
		margin-top: .5em;
	}

	#main #BlogComment #BlogCommentAddForm table tr td input {
		width: 90%;
	}

	#main #BlogComment #BlogCommentAddForm table tr td input#BlogCommentName {
		width: 50%;
		max-width: 240px;
	}

	#main #BlogComment #BlogCommentAddForm table tr td input#BlogCommentEmail,
	#main #BlogComment #BlogCommentAddForm table tr td input#BlogCommentUrl {
		width: 95%;
		max-width: 360px;
	}

	#main #BlogComment #BlogCommentAddForm table tr td #BlogCommentMessage {
		width: 95%;
		max-width: 480px;
	}

#main #BlogComment #BlogCommentAddForm .auth-captcha {
	margin-bottom: 1.6em;
}

	#main #BlogComment #BlogCommentAddForm .auth-captcha .auth-captcha-image {
		vertical-align: middle;
	}

	#main #BlogComment #BlogCommentAddForm .auth-captcha input#BlogCommentAuthCaptcha {
		width: 150px;
	}

#main #BlogComment #BlogCommentAddForm .submit {
	text-align: center;
}

	#main #BlogComment #BlogCommentAddForm .submit input {
		font-size: 114.3%; /* 16px */
	}

#main #BlogComment #BlogCommentList {
}

#main #BlogComment #BlogCommentList .comment {
	position: relative;
	margin: 0 0 1.6em 2em;
	line-height: 1.5em;
	background: #EEE;
	padding: 0 1em 1em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

	#main #BlogComment #BlogCommentList .comment:after {
		content: ' ';
		position: absolute;
		overflow: hidden;
		bottom: 15%;
		left: -1.5em;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 1em 0 1.5em 1.5em;
		border-color: transparent transparent #EEE transparent;
		z-index: 50;
	}

#main #BlogComment #BlogCommentList .comment .comment-name {
	font-size: 114.3%; /* 16px */
	line-height: 3em;
}

	#main #BlogComment #BlogCommentList .comment .comment-name:a,
	#main #BlogComment #BlogCommentList .comment .comment-name:a:visited {
		color: #333;
	}

#main #BlogCommentCaptchaUrl.display-none {
	display: none;
}


/* mailForm(baserCMS)
------------------------------------------------- */
#main .mailForm {
}

	#main .mailForm .lead {
		margin-bottom: 1.6em;
	}

#main .mailForm form table {
	margin-bottom: 0;
	width: 100%;
}

	#main .mailForm form table tr th {
		width: 23%;
		padding: .5em 0 .5em 2%;
		text-align: left;
	}

	#main .mailForm form table tr td {
		width: 75%;
		padding-bottom: .5em;
	}

	#main .mailForm form table tr td input#MessageTel1,
	#main .mailForm form table tr td input#MessageTel2,
	#main .mailForm form table tr td input#MessageTel3 {
		width: 20%;
		max-width: 100px;
	}

	#main .mailForm form table tr td input#MessageName1,
	#main .mailForm form table tr td input#MessageName2,
	#main .mailForm form table tr td input#MessageNameKana1,
	#main .mailForm form table tr td input#MessageNameKana2,
	#main .mailForm form table tr td input#MessageZip {
		width: 25%;
		max-width: 120px;
	}

	#main .mailForm form table tr td input#MessageEmail1,
	#main .mailForm form table tr td input#MessageEmail2,
	#main .mailForm form table tr td input#MessageAddress2,
	#main .mailForm form table tr td input#MessageAddress3,
	#main .mailForm form table tr td textarea#MessageMessage,
	#main .mailForm form table tr td input#MessageRootEtc {
		width: 95%;
		max-width: 500px;
	}

	#main .mailForm form input#MessageAuthCaptcha {
		width: 150px;
	}

	#main .mailForm form table tr td input#MessageTel2,
	#main .mailForm form table tr td input#MessageTel3,
	#main .mailForm form table tr td input#MessageName1,
	#main .mailForm form table tr td input#MessageName2,
	#main .mailForm form table tr td input#MessageNameKana1,
	#main .mailForm form table tr td input#MessageNameKana2,
	#main .mailForm form table tr td input#MessageZip {
		margin-left: .5em;
	}

	#main .mailForm form table tr td input#MessageTel1,
	#main .mailForm form table tr td input#MessageTel2,
	#main .mailForm form table tr td input#MessageName1,
	#main .mailForm form table tr td input#MessageKana1,
	#main .mailForm form table tr td input#MessageKana2,
	#main .mailForm form table tr td input#MessageZip,
	#main .mailForm form table tr td input#MessageEmail2 {
		margin-right: .5em;
	}

	#main .mailForm form table tr td input#MessageEmail1,
	#main .mailForm form table tr td input#MessageZip,
	#main .mailForm form table tr td select#MessageAddress1,
	#main .mailForm form table tr td input#MessageAddress2,
	#main .mailForm form table tr td select#MessageRoot {
		margin-bottom: .5em;
	}

	#main .mailForm form table tr td select {
		padding: 2px;
	}

	#main .mailForm form table tr td .checkbox {
		display: -moz-inline-box;
		display: inline-block;
		vertical-align: middle;
		margin-right: 2em;
	}

	#main .mailForm .submit {
		margin: 2em 0 0;
		text-align: center;
	}

	#main .mailForm .submit input {
		font-size: 114.3%; /* 16px */
	}

	#main .mailForm .submit input[type='reset'] {
		display: none;
	}

#main .mailForm table tr td #FieldMessageName1,
#main .mailForm table tr td #FieldMessageNameKana1,
#main .mailForm table tr td #FieldMessageZip {
	margin-right: 2em;
}
#main .mailForm table tr td  #FieldMessageName1 .mail-before-attachment,
#main .mailForm table tr td  #FieldMessageName2 .mail-before-attachment,
#main .mailForm table tr td  #FieldMessageNameKana1 .mail-before-attachment,
#main .mailForm table tr td  #FieldMessageNameKana2 .mail-before-attachment {
	margin-right: .5em;
}



/* widget(baserCMS)
------------------------------------------------- */

.widget {
	margin-bottom: 1.6em;
	padding: 1.2em .8em .8em;
	background: #F3F3F3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

	.widget h2 {
		margin-bottom: .5em;
		font-size: 160%;
		font-weight: bold;
		line-height: 1.3;
	}

	.widget p {
		margin-bottom: 1em;
		font-size: 120%;
		line-height: 1.5; /* 18px */
	}

	.widget ul {
	}

		.widget ul li {
			font-size: 120%;
			margin-bottom: .5em;
			line-height: 1.335; /* 16px */
		}

			.widget il ul {
				margin: 1em 0;
			}

				.widget ul li li {
					font-size: 100%;
				}

		.widget ul li a,
		.widget ul li a:visited {
			color: #333;
		}

	#document .widget-blog-calendar table {
		margin: 0 auto;
		width: 100%;
	}

	#document .widget-blog-calendar table tr th,
	#document .widget-blog-calendar table tr td {
		padding: .3em 0;
		font-size: 120%;
		text-align: center;
	}

	#document .widget-blog-calendar table tr.firstChild td {
		padding: 0 0 .8em;
	}

	#document .widget #ContentSearchForm {
		margin: 0;
		font-size: 120%;
	}

	#document .widget #ContentSearchForm select#ContentC {
		display: block;
		width: 200px;
		margin: 0 0 .5em;
	}

	#document .widget #ContentSearchForm input#ContentQ {
		margin: 0 .5em .5em 0;
		width: 192px;
	}

	#document .widget #ContentSearchForm input.lastChild,
	#document .widget #ContentSearchForm input[type='submit'] {
		margin: 0 0 .5em;
		width: 64px;
	}




/* twitter
------------------------------------------------- */
#sub .twitterBtn {
	margin-bottom: 1.6em;
}

	#sub .twitterBtn a {
		overflow: hidden;
		display: block;
		vertical-align: middle;
		width: 139px;
		height: 4.8em;
		padding-left: 85px;
		background-position: -7px -7px;
		border-style: solid;
		border-color: #A9C0D9;
		border-width: 1px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
	}

	#sub .twitterBtn a,
	#sub .twitterBtn a:visited {
		color: #346;
		text-decoration: none;
	}

	#sub .twitterBtn a:hover {
		color: #09C;
	}

	#sub .twitterBtn a .caption {
		display: block;
		font-size: 110%;
		padding: .8em 0 .5em;
	}

	#sub .twitterBtn a .twitterID {
		display: block;
		font-weight: bold;
		font-size: 140%;
	}


/* fbPage
------------------------------------------------- */
#sub .fbPage {
	margin-bottom: 1.6em;
	padding: 6px 0;
	border-style: solid;
	border-color: #729FD4;
	border-width: 1px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}


/* widget-local-navi(baserCMS)
------------------------------------------------- */

.widget-local-navi {
	margin: 0 0 3.2em;
	padding: 0;
	background: transparent;
	font-size: 100%;
}

	.widget-local-navi h2 {
		margin: 0;
		padding: .88em 0 .67em .2em;
		color: #333;
		font-size: 180%;
		border-style: solid;
		border-width: 3px 0 0;
		border-color: #999;
		vertical-align: bottom;
	}

	.widget-local-navi ul {
		border-style: solid;
		border-width: 1px 0 0;
		border-color: #CCC;
	}

		.widget-local-navi ul li {
			margin: 0;
			border-style: solid;
			border-width: 0 0 1px;
			border-color: #CCC;
			font-size: 100%;
			line-height: 1.1;
		}

			.widget-local-navi ul li a {
				display: block;
				padding: .8em .28em .6em 1.7em;
				background: #FFF url(../images/base/arrow_02_gray.png) no-repeat 8px 1em;
				color: #333;
    		font-size: 140%;
				line-height: 1.3;
				text-decoration: none;
				zoom: 1;
			}

	.widget-local-navi ul li ul {
		border-width: 0;
		padding-bottom: .7em;
	}

		.widget-local-navi ul li ul li {
			border-width: 0;
		}

			.widget-local-navi ul li ul li a {
				display: block;
				padding: .5em .3em .4em 2em;
				background: #FFF url(../images/base/bullet_01_gray.png) no-repeat 8px .9em;
				border-width: 0;
				font-size: 120%;
			}

			.widget-local-navi ul li a:hover,
			.widget-local-navi ul li a:focus,
			.widget-local-navi ul li.current a:link,
			.widget-local-navi ul li.current a:visited {
				background-color: #F3F3F3;
			}

/* fullbrowser END
================================================ */


/* tablet START
================================================ */
@media only screen and (min-width: 724px) and (max-width: 980px) {

#document .widget-blog-calendar table {
	width: 320px;
}

#sub .twitterBtn {
	clear: both;
}

#sub .banner p {
	margin: 0 1em 1em 0;
	display: inline-block;
	vertical-align: top;
}


}
/* tablet END
================================================ */


/* smartPhone START
================================================ */
@media only screen and (max-width: 723px) {

#main .social {
	margin-left: 1.2em;
	margin-right: 1.2em;
}

	#main .socialL .hatena,
	#main .socialL .twitter,
	#main .socialL .google,
	#main .socialL .mixi,
	#main .socialL .weibo {
		height: 48px;
	}

.widget {
	margin: 0 0 1.6em;
	padding: 1em 0 0;
	background: transparent !important;
	border-style: solid;
	border-width: 3px 0 0;
	border-color: #999;
	font-size: 140%;
	border-radius: 0;
}

	.widget h2 {
		margin: 0 0 1em;
		padding: 0 .88em;
		font-size: 114.3%; /* 16px */
		vertical-align: bottom;
	}

	.widget p,
	.widget ul li {
		margin-left: 1em;
		margin-right: 1em;
		font-size: 100%;
	}

	.widget-local-navi ul li {
		margin: 0;
	}

	.widget-local-navi ul li a {
		font-size: 100%;
	}

	.widget-local-navi ul li ul li a {
		font-size: 100%;
	}

#document .widget-blog-calendar table {
	width: 200px;
}

	#document .widget-blog-calendar table tr th,
	#document .widget-blog-calendar table tr td {
		font-size: 100%; /* 14px */
	}

#document .widget #ContentSearchForm {
	margin: 0 1em;
	font-size: 100%;
}

#sub .twitterBtn,
#sub .fbPage {
	margin: 0 1em 1.6em;
}

#main .topicPath {
	color: #333;
	font-size: 140%;
	margin: 0 .7em .7em;
	line-height: 1.5;
}

	#main .topicPath a {
		color: #333;
	}

#main .categoryHeader {
	margin: 0;
	padding: 1.6em 0;
	border-style: solid;
	border-width: 3px 0 0;
	border-color: #999;
}

	#main .categoryHeader h1 {
		font-size: 240%;
		text-align: center;
	}

	#main .categoryHeader .categoryDesc {
		margin: .5em 1em;
		font-size: 140%;
	}

#main #ContentsNavi a,
#main #contentsNavi a {
	display: block;
	margin: .5em 1em;
	padding: 0;
	text-align: left;
}

#main #BlogComment #BlogCommentAddForm {
	margin: 0 1em;
}

#main #BlogComment #BlogCommentAddForm table tr th {
	display: block;
	width: auto;
	padding: 0 0 .5em;
	text-align: left;
}

#main #BlogComment #BlogCommentAddForm table tr td {
	display: block;
	width: auto;
	padding-bottom: .5em;
}

#main #BlogComment #BlogCommentList .comment {
	margin-right: 1em;
}

#main .mailForm form table tr th {
	display: block;
	width: auto;
	font-size: 100%;
}

#main .mailForm form table tr td {
	display: block;
	width: auto;
	font-size: 100%;
}

#main .mailForm table tr td #FieldMessageName1,
#main .mailForm table tr td #FieldMessageNameKana1,
#main .mailForm table tr td #FieldMessageZip {
	margin-right: .5em;
}

#main .mailForm table tr td  #FieldMessageName1 .mail-before-attachment,
#main .mailForm table tr td  #FieldMessageName2 .mail-before-attachment,
#main .mailForm table tr td  #FieldMessageNameKana1 .mail-before-attachment,
#main .mailForm table tr td  #FieldMessageNameKana2 .mail-before-attachment {
	margin-right: 0;
}

#main #BlogComment #BlogCommentAddForm .auth-captcha input#BlogCommentAuthCaptcha {
	margin-bottom: .5em;
}

}
/* smartPhone END
================================================ */
