@charset "utf-8";

/*
============================================

　         Textdecoration CSS

CMS関連の自由文に関するCSSです
.freetxt を付与した包括要素内で有効になります
============================================
*/


/* lineHeight
--------------------------------------------- */

.freetxt {
	line-height: 1.714; /* 24px */
}


/* image
--------------------------------------------- */

.freetxt img {
	vertical-align: middle;
}


/* heading
--------------------------------------------- */
.freetxt h2,
.freetxt .lv2 {
	margin: 0 0 1.2em;
	padding: .5em .3em .4em;
	background: #EEE none;
	border: 0 none;
	font-size: 142.8%; /* 20px */
	color: #333;
	font-weight: bold;
	line-height: 1.3;
}

.freetxt h3,
.freetxt .lv3 {
	margin: 0 0 1.2em;
	padding: .2em 0 0 .9em;
	background: transparent url(../images/base/bullet_02_gray.png) no-repeat 0 50%;
	border: 0 none;
	color: #333;
	font-size: 128.6%; /* 18px */
	font-weight: bold;
	line-height: 1.1;
}

.freetxt h4,
.freetxt .lv4 {
	margin: 0 0 1em;
	padding: 0;
	background: transparent none;
	border: 0 none;
	color: #333;
	font-size: 128.6%; /* 18px */
	font-weight: bold;
	line-height: 1.1;
}

.freetxt h5,
.freetxt .lv5 {
	margin: 0 0 1em;
	padding: 0;
	background: transparent none;
	border: 0 none;
	color: #333;
	font-size: 114.3%; /* 16px */
	font-weight: bold;
	line-height: 1.1;
}

.freetxt h6,
.freetxt .lv6 {
	margin: 0 0 1em;
	padding: 0;
	background: transparent none;
	border: 0 none;
	color: #333;
	font-size: 100%; /* 14px */
	font-weight: bold;
	line-height: 1.1;
}



/* paragraph
--------------------------------------------- */

.freetxt p {
	margin: 0 0 1.714em;
}

.freetxt ul {
	margin: 0 0 2em;
}

	.freetxt ul li {
		margin: 0 0 .5em;
		padding-left: 1.7em;
		background: #FFF url(../images/base/bullet_01_gray.png) no-repeat .5em .4em;
		line-height: 1.286; /* 18px */
		list-style-type: none;
	}

.freetxt ol {
	margin: 0 0 2em 2em;
}

	.freetxt ol li {
		margin: 0 0 .5em;
		line-height: 1.286; /* 18px */
		list-style-type: decimal;
	}

	.freetxt li ul,
	.freetxt li ol {
		margin-top: 1em;
		margin-bottom: 1em;
	}

		.freetxt li ul li,
		.freetxt li ol li {
			margin-left: 2em;
			padding-left: 0;
			background-image: none;
		}

		.freetxt li ul li {
			list-style-type: circle;
		}

		.freetxt li ol li {
			margin-left: 0;
			padding-left: 0;
			list-style-type: lower-roman;
		}

.freetxt dl {
	margin-bottom: 2em;
}

	.freetxt dl dt {
		margin: 0 0 .5em;
		font-weight: bold;
		line-height: 1.3;
	}

	.freetxt dl dd {
		margin: 0 0 1.5em 2em;
	}

.freetxt hr {
	margin: 2em 0;
	height: 1px;
	border-top: 1px solid #999;
	border-left: 0 none;
	border-right: 0 none;
	border-bottom: 0 none;
}

*html body .freetxt hr {/* IE 6 */
	margin-top: 1em;
}

*:first-child+html .freetxt hr {/* IE 7 */
	margin-top: 1em;
}



/* box, class
--------------------------------------------- */

.freetxt pre {
	overflow: auto;
	width: 94%;
	margin: 1.5em 0 2em;
	padding: 1em 3%;
	background: #333;
	color: #EEE;
	font-family: "Ricty", "Migu 1M", "M+1VM+IPAG circle", "Courier New", "ＭＳ ゴシック", monospace;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.freetxt .box01 {
	margin: 1.5em 0 2em;
	padding: 1em;
	border: 1px solid #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.freetxt .box02,
.freetxt blockquote {
	margin: 1.5em 0 2em;
	padding: 1em;
	background-color: #F3F3F3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

	.freetxt .box01 p,
	.freetxt .box01 ul,
	.freetxt .box01 ol,
	.freetxt .box02 p,
	.freetxt .box02 ul,
	.freetxt .box02 ol,
	.freetxt blockquote p,
	.freetxt blockquote ul,
	.freetxt blockquote ol {
		margin: 0;
	}

.freetxt .notice {
	margin: 0 0 1.5em 1em !important;
	line-height: 1.286; /* 18px */
	text-indent: -1em !important;
}

.freetxt a.doc {
	padding-left: 22px;
	background: url(../images/common/doc_ico.gif) no-repeat 0 .2em;
}

.freetxt a.xls {
	padding-left: 22px;
	background: url(../images/common/xls_ico.gif) no-repeat 0 .2em;
}

.freetxt a.pdf {
	padding-left: 22px;
	background: url(../images/common/pdf_ico.gif) no-repeat 0 .2em;
}

.freetxt a.linkBtn {
	display: -moz-inline-box;
	display: inline-block;
	height: 2em;
	line-height: 2em;
	padding: .2em 1em 0;
	border: 1px solid #999;
	color: #333;
	font-size: 114.3%; /* 16px */
	text-decoration: none;
	vertical-align: middle;
	background: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #DDDDDD);
	background-image: -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
	background-image: -ms-linear-gradient(top, #FFFFFF, #DDDDDD);
	background-image: -o-linear-gradient(top, #FFFFFF, #DDDDDD);
	background-image: linear-gradient(top, #FFFFFF, #DDDDDD);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#DDDDDD));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#DDDDDD))";
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.freetxt a.linkBtn:before {
	overflow: hidden;
	content: ' ';
	display: -moz-inline-box;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: .5em;
	background: url(../images/base/arrow_01_gray.png) 0 0 no-repeat;
	vertical-align: middle;
}

.freetxt a.linkBtn:hover,
.freetxt a.linkBtn:focus,
.freetxt a.linkBtn:active {
	border-color: #333;
	color: #333;
}



/* table
-------------------------------------------- */

.freetxt table {
	width: 100%;
	margin: 1.5em 0 2em;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}

*html body .freetxt table {/* IE 6 */
	border-collapse: collapse;
}
*:first-child+html .freetxt table {/* IE 7 */
	border-collapse: collapse;
}

.freetxt table caption {
	padding-bottom: 0.5em;
	text-align: center;
	letter-spacing: 0.1em;
}

.freetxt table th,
.freetxt table td {
	padding: .5em;
	line-height: 1.286; /* 18px */
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

	.freetxt table thead th {
		font-weight: normal;
		background: #CCC;
	}

	.freetxt table tbody th {
		font-weight: normal;
		background: #F3F3F3;
	}

	.freetxt table td p {
		margin: 0;
	}

	.freetxt table td ul {
		margin: 0;
	}

		.freetxt table td ul li {
			margin: 0 0 0.5em;
			padding-left: 0;
			background-image: none;
		}


/* column
-------------------------------------------- */

/* 左右にすきまのない段組 */
.freetxt .column {
	width: 100%;
	zoom: 1;
}
.freetxt .column:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.freetxt .column .column2,
.freetxt .column .column3 {
	float: left;
}

.freetxt .column .column2 {
	width: 48.40425531914894%;
	margin-left: 3.1914893617021276%;
	margin-right: 0;
}

.freetxt .column .column3 {
	width: 31.205673758865245%;
	margin-left: 3.1914893617021276%;
	margin-right: 0;
}

.freetxt .column .column2:first-child,
.freetxt .column .column3:first-child {
	margin-left: 0;
}

/* 段組内では見出しの下マージンを縮める */
.freetxt .column2 h2, .freetxt .column2 .lv2,
.freetxt .column2 h3, .freetxt .column2 .lv3,
.freetxt .column2 h4, .freetxt .column2 .lv4,
.freetxt .column2 h5, .freetxt .column2 .lv5,
.freetxt .column2 h6, .freetxt .column2 .lv6,
.freetxt .column3 h2, .freetxt .column3 .lv2,
.freetxt .column3 h3, .freetxt .column3 .lv3,
.freetxt .column3 h4, .freetxt .column3 .lv4,
.freetxt .column3 h5, .freetxt .column3 .lv5,
.freetxt .column3 h6, .freetxt .column3 .lv6
{
	margin-bottom: .5em;
}


/* fullbrowser END
================================================ */


/* smartPhone START
================================================ */
@media only screen and (max-width: 723px) {

.freetxt img {
	width: 100%;
	height: auto;
}

.freetxt img[src *= 'ckeditor'] {
	width: auto;
}

.freetxt h2,
.freetxt .lv2 {
	font-size: 112.5%;
	margin-bottom: 1em;
}

.freetxt h3,
.freetxt .lv3 {
	font-size: 112.5%;
	margin-bottom: 1em;
}

.freetxt h4,
.freetxt .lv4 {
	font-size: 112.5%;
	margin-bottom: 1em;
}

.freetxt h5,
.freetxt .lv5 {
	font-size: 100%;
	margin-bottom: 1em;
}

.freetxt h6,
.freetxt .lv6 {
	font-size: 100%;
	margin-bottom: 1em;
}

.freetxt table tr th,
.freetxt table tr td {
	font-size: 50%;
}

/* 左右にすきまのない段組 */
.freetxt .column .column2,
.freetxt .column .column3 {
	width: auto;
	margin: 0;
}

.freetxt .column2 h2, .freetxt .column2 .lv2,
.freetxt .column2 h3, .freetxt .column2 .lv3,
.freetxt .column2 h4, .freetxt .column2 .lv4,
.freetxt .column2 h5, .freetxt .column2 .lv5,
.freetxt .column2 h6, .freetxt .column2 .lv6,
.freetxt .column3 h2, .freetxt .column3 .lv2,
.freetxt .column3 h3, .freetxt .column3 .lv3,
.freetxt .column3 h4, .freetxt .column3 .lv4,
.freetxt .column3 h5, .freetxt .column3 .lv5,
.freetxt .column3 h6, .freetxt .column3 .lv6
{
	margin-bottom: 1em;
}

}
/* smartPhone END
================================================ */


