@charset "utf-8";
/*!
 * color_black CSS
 * ---------------------------------------------
 * 配色に関するCSSです
 */


/* text-color */

a,
.freetxt h4,
.freetxt .lv4
{ color: #333; }

a:visited
{ color: #777; }


/* background-color */

#main .headline .post a:hover,
#main .headline .post a:focus,
#footer,
#main #blogComment .relation .comment,
.freetxt table thead th,
#document .column-image-auto p.caption,
#document .column-image-left p.caption,
#document .column-image-center p.caption,
#document .column-image-right p.caption,
#document .column-eximage-auto p.caption,
#document .column-eximage-left p.caption,
#document .column-eximage-center p.caption,
#document .column-eximage-right p.caption,
.home #main #pickup .post a:hover
{ background: #EEEADC; }

#header #headerNav ul li a:hover,
#header #headerNav ul li a:focus,
#main .section .sectionHeader,
#main .summary .post a:hover,
#main .headline .post a,
#main .posts .post .postContents p.moreLink,
#main .searchResult,
#sub #localNav ul li a:hover,
#sub #localNav ul li a:focus,
#sub #localNav ul li.current a:link,
#sub #localNav ul li.current a:visited,
#main .mailForm .mailStep li .num,
#sub .menu,
.freetxt h2,
.freetxt .lv2,
.freetxt table tbody th,
.freetxt .box02,
.freetxt blockquote,
.home #main #pickup .post a
{ background-color: #F5F3E8; }

#footer .backToTop,
#main .contentsNav p.pager a:active,
#main .contentsNav p.pager .cur,
#main .contentsNav p.pager .cur:visited,
#main .mailForm .mailStep li.current,
#main .mailForm .mailStep li.current .num
{ background-color: #221C15; }

#footer .backToTop a:hover
{ background-color: #3C3632; }

#main .headline .even a
{ background: transparent; }


/* border-color */

#footer,
#main .article .articleHeader,
#main .section .sectionHeader,
#main .posts .post .postHeader,
#main #commentFb h1,
#main #comment h1,
#main .categoryHeader,
#sub #localNav .lnavTitle,
#sub .menu .menuTitle,
.freetxt h3,
.freetxt .lv3,
.freetxt hr,
.freetxt .box01,
#main .summary .post a .postContents h1
{ border-color: #3C3935; }

#header #headerNav ul,
#header #headerNav ul li a,
#main .summary .post,
#main .search .post,
#main #entryRelational ul,
#main #entryRelational ul li,
#sub #localNav ul,
#sub #localNav ul li,
#main .contentsNav,
#main .serialNav
{ border-color: #D0CEC9; }

.freetxt table,
.freetxt table th,
.freetxt table td,
#main .contentsNav p.pager a:hover,
#main .contentsNav p.pager a:focus,
#main .serialNav ul li.index,
#main .mailForm .mailStep li
{ border-color: #B8B5B0; }

#main #blogComment .relation .comment:after {
  border-color: transparent transparent #EEEADC transparent;
}

#main .mailForm .mailStep li.current .icon {
  border-color: #F5F3E8 transparent;
}


/* icons */

#main .posts .post .postContents p.moreLink a,
#main .summary .post a .postContents p.moreLink b,
.freetxt a.linkBtn:before,
.home #main #pickup .post a .postContents p.moreLink b
{ background-image: url(../images/base/arrow_01_black.png); }

#main .search .post p.permalink a,
#sub #localNav ul li a
{ background-image: url(../images/base/arrow_02_black.png); }

#main #blogComment h2,
#main .sitemap ul li,
.freetxt h3,
.freetxt .lv3
{ background-image: url(../images/base/bullet_02_black.png); }

#main .sitemap ul li ul li,
.freetxt ul li
{ background-image: url(../images/base/bullet_01_black.png); }


/* articleHeader > articleHeaderInner */

#main .article .articleHeader .articleHeaderInner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFD), to(#F3F2F0));
  background-image: -webkit-linear-gradient(top, #FFFFFD, #F3F2F0);
  background-image: -moz-linear-gradient(top, #FFFFFD, #F3F2F0);
  background-image: -ms-linear-gradient(top, #FFFFFD, #F3F2F0);
  background-image: -o-linear-gradient(top, #FFFFFD, #F3F2F0);
  background-image: linear-gradient(top, #FFFFFD, #F3F2F0);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFD, endcolorstr=#F3F2F0));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFD, endcolorstr=#F3F2F0))";
}


/* globalNav */

#globalNav {
  background: #332C25;
  border-style: solid;
  border-width: 2px 0;
  border-color: #554C45 transparent #110C00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#221C15), to(#443C35));
  background-image: -webkit-linear-gradient(top, #221C15, #443C35);
  background-image: -moz-linear-gradient(top, #221C15, #443C35);
  background-image: -ms-linear-gradient(top, #221C15, #443C35);
  background-image: -o-linear-gradient(top, #221C15, #443C35);
  background-image: linear-gradient(top, #221C15, #443C35);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#221C15, endcolorstr=#443C35));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#221C15, endcolorstr=#443C35))";
}


#globalNav ul {
  border-color: #000;
}

  #globalNav ul li {
    float: left;
  }

    #globalNav ul li a {
      color: #E6E3E0;
      border-color: #000;
      text-shadow: 0 0 .3em rgba(0,0,0,1);
    }

      #globalNav ul li a:hover,
      #globalNav ul li a:focus,
      #globalNav ul li.stay a:link,
      #globalNav ul li.stay a:visited {
        background-color: #403935;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#302925), to(#504945));
        background-image: -webkit-linear-gradient(top, #302925, #504945);
        background-image: -moz-linear-gradient(top, #302925, #504945);
        background-image: -ms-linear-gradient(top, #302925, #504945);
        background-image: -o-linear-gradient(top, #302925, #504945);
        background-image: linear-gradient(top, #302925, #504945);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#302925, endcolorstr=#504945));
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#302925, endcolorstr=#504945))";
      }

#globalNav ul li ul {
  background-color: #F5F3E8;
}

#globalNav ul li ul li a {
  border-color: #F5F3E8;
}

#globalNav ul li ul li a:link,
#globalNav ul li ul li a:visited,
#globalNav ul li.stay ul li a:link,
#globalNav ul li.stay ul li a:visited {
  background: #F5F3E8;
  filter: none;
}

#globalNav ul li ul li a:hover,
#globalNav ul li ul li a:focus,
#globalNav ul li.stay ul li a:hover,
#globalNav ul li.stay ul li a:focus {
  background: #FFFEFC;
  filter: none;
}


/* searchBox */

#header #searchBox {
  background-color: #F6F5F0;
  border-color: #D0CEC9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EBE9E2), to(#F6F5EF));
  background-image: -webkit-linear-gradient(top, #EBE9E2, #F6F5EF);
  background-image: -moz-linear-gradient(top, #EBE9E2, #F6F5EF);
  background-image: -ms-linear-gradient(top, #EBE9E2, #F6F5EF);
  background-image: -o-linear-gradient(top, #EBE9E2, #F6F5EF);
  background-image: linear-gradient(top, #EBE9E2, #F6F5EF);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#EBE9E2, endcolorstr=#F6F5EF));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#EBE9E2, endcolorstr=#F6F5EF))";
}


/* contactBnr */

  .contactBnr a {
    border-color: #B8B5B0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEECE2));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #EEECE2);
    background-image: -moz-linear-gradient(top, #FFFFFF, #EEECE2);
    background-image: -ms-linear-gradient(top, #FFFFFF, #EEECE2);
    background-image: -o-linear-gradient(top, #FFFFFF, #EEECE2);
    background-image: linear-gradient(top, #FFFFFF, #EEECE2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEECE2));
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEECE2))";
  }

  .contactBnr a:hover,
  .contactBnr a:focus {
    border-color: #332920;
  }

    .contactBnr a .icon {
      background-color: #332920;
    }


/*!
 * smart phone START
 * ---------------------------------------------
 */

@media only screen and (max-width: 723px) {

#main #entryRelational .sectionContents ul li a
{ background-image: url(../images/base/arrow_02_black.png); }

#main #entryRelational .sectionContents ul li a:hover,
#main #entryRelational .sectionContents ul li a:focus
{ background-color: #F5F3E8; }

#main .contentsNav p.pager a.back,
#main .contentsNav p.pager a.forward,
#main .serialNav ul li.index a
{ border-color: #B8B5B0; }

}

/*!
 * smart phone END
 * ---------------------------------------------
 */
