@charset "utf-8";
/*!
 * color_green CSS
 * ---------------------------------------------
 * 配色に関するCSSです
 */


/* text-color */

a,
.freetxt h4,
.freetxt .lv4
{ color: #2F9D2A; }

a:visited
{ color: #777; }


/* background-color */

#main .headline .post a:hover,
#main .headline .post a:focus,
#footer,
#main #blogComment .relation .comment,
.freetxt table thead th,
#document .column-image-auto p.caption,
#document .column-image-left p.caption,
#document .column-image-center p.caption,
#document .column-image-right p.caption,
#document .column-eximage-auto p.caption,
#document .column-eximage-left p.caption,
#document .column-eximage-center p.caption,
#document .column-eximage-right p.caption,
.home #main #pickup .post a:hover
{ background: #EBEEE5; }

#header #headerNav ul li a:hover,
#header #headerNav ul li a:focus,
#main .section .sectionHeader,
#main .summary .post a:hover,
#main .headline .post a,
#main .posts .post .postContents p.moreLink,
#main .searchResult,
#sub #localNav ul li a:hover,
#sub #localNav ul li a:focus,
#sub #localNav ul li.current a:link,
#sub #localNav ul li.current a:visited,
#main .mailForm .mailStep li .num,
#sub .menu,
.freetxt h2,
.freetxt .lv2,
.freetxt table tbody th,
.freetxt .box02,
.freetxt blockquote,
.home #main #pickup .post a
{ background-color: #F4F6F2; }

#footer .backToTop,
#main .contentsNav p.pager a:active,
#main .contentsNav p.pager .cur,
#main .contentsNav p.pager .cur:visited,
#main .mailForm .mailStep li.current,
#main .mailForm .mailStep li.current .num
{ background-color: #2F9D2A; }

#footer .backToTop a:hover
{ background-color: #3A1; }

#main .headline .even a
{ background: transparent; }


/* border-color */

#footer,
#main .article .articleHeader,
#main .section .sectionHeader,
#main .posts .post .postHeader,
#main #commentFb h1,
#main #comment h1,
#main .categoryHeader,
#sub #localNav .lnavTitle,
#sub .menu .menuTitle,
.freetxt h3,
.freetxt .lv3,
.freetxt hr,
.freetxt .box01,
#main .summary .post a .postContents h1
{ border-color: #2F9D2A; }

#header #headerNav ul,
#header #headerNav ul li a,
#main .summary .post,
#main .search .post,
#main #entryRelational ul,
#main #entryRelational ul li,
#sub #localNav ul,
#sub #localNav ul li,
#main .contentsNav,
#main .serialNav
{ border-color: #C9CBC2; }

.freetxt table,
.freetxt table th,
.freetxt table td,
#main .contentsNav p.pager a:hover,
#main .contentsNav p.pager a:focus,
#main .serialNav ul li.index,
#main .mailForm .mailStep li
{ border-color: #B0B4AC; }

#main #blogComment .relation .comment:after {
  border-color: transparent transparent #EEECE0 transparent;
}

#main .mailForm .mailStep li.current .icon {
  border-color: #F4F6F2 transparent;
}


/* icons */

#main .posts .post .postContents p.moreLink a,
#main .summary .post a .postContents p.moreLink b,
.freetxt a.linkBtn:before,
.home #main #pickup .post a .postContents p.moreLink b
{ background-image: url(../images/base/arrow_01_green.png); }

#main .search .post p.permalink a,
#sub #localNav ul li a
{ background-image: url(../images/base/arrow_02_green.png); }

#main #blogComment h2,
#main .sitemap ul li,
.freetxt h3,
.freetxt .lv3
{ background-image: url(../images/base/bullet_02_green.png); }

#main .sitemap ul li ul li,
.freetxt ul li
{ background-image: url(../images/base/bullet_01_green.png); }


/* globalNav */

#globalNav {
  background: #248E23;
  border-style: solid;
  border-width: 2px 0;
  border-color: #30A010 transparent #16741B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#187E1D), to(#2E9B29));
  background-image: -webkit-linear-gradient(top, #187E1D, #2E9B29);
  background-image: -moz-linear-gradient(top, #187E1D, #2E9B29);
  background-image: -ms-linear-gradient(top, #187E1D, #2E9B29);
  background-image: -o-linear-gradient(top, #187E1D, #2E9B29);
  background-image: linear-gradient(top, #187E1D, #2E9B29);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#187E1D, endcolorstr=#2E9B29));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#187E1D, endcolorstr=#2E9B29))";
}

#globalNav ul {
  border-color: #16741B;
}

  #globalNav ul li {
    float: left;
  }

    #globalNav ul li a {
      color: #ECF0EA;
      border-color: #16741B;
      text-shadow: 0 0 .3em rgba(0,48,0,.4);
    }

      #globalNav ul li a:hover,
      #globalNav ul li a:focus,
      #globalNav ul li.stay a:link,
      #globalNav ul li.stay a:visited {
        background-color: #0CA409;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#0A9008), to(#11B10B));
        background-image: -webkit-linear-gradient(top, #0A9008, #11B10B);
        background-image: -moz-linear-gradient(top, #0A9008, #11B10B);
        background-image: -ms-linear-gradient(top, #0A9008, #11B10B);
        background-image: -o-linear-gradient(top, #0A9008, #11B10B);
        background-image: linear-gradient(top, #0A9008, #11B10B);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#0A9008, endcolorstr=#11B10B));
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#0A9008, endcolorstr=#11B10B))";
      }

#globalNav ul li ul
{ background-color: #F4F6F2; }

#globalNav ul li ul li a {
  border-color: #C9CBC2;
}

#globalNav ul li ul li a:link,
#globalNav ul li ul li a:visited,
#globalNav ul li.stay ul li a:link,
#globalNav ul li.stay ul li a:visited {
  background: #F4F6F2;
  filter: none;
}

#globalNav ul li ul li a:hover,
#globalNav ul li ul li a:focus,
#globalNav ul li.stay ul li a:hover,
#globalNav ul li.stay ul li a:focus {
  background: #EBEEE5;
  filter: none;
}


/* searchBox */

#header #searchBox {
  background-color: #F3F4F0;
  border-color: #C9CBC2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E3E5E0), to(#F3F4F2));
  background-image: -webkit-linear-gradient(top, #E3E5E0, #F3F4F2);
  background-image: -moz-linear-gradient(top, #E3E5E0, #F3F4F2);
  background-image: -ms-linear-gradient(top, #E3E5E0, #F3F4F2);
  background-image: -o-linear-gradient(top, #E3E5E0, #F3F4F2);
  background-image: linear-gradient(top, #E3E5E0, #F3F4F2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#E3E5E0, endcolorstr=#F3F4F2));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#E3E5E0, endcolorstr=#F3F4F2))";
}


/* contactBnr */

  .contactBnr a {
    border-color: #B0B4AC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EBEEE5));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #EBEEE5);
    background-image: -moz-linear-gradient(top, #FFFFFF, #EBEEE5);
    background-image: -ms-linear-gradient(top, #FFFFFF, #EBEEE5);
    background-image: -o-linear-gradient(top, #FFFFFF, #EBEEE5);
    background-image: linear-gradient(top, #FFFFFF, #EBEEE5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EBEEE5));
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EBEEE5))";
  }

  .contactBnr a:hover,
  .contactBnr a:focus {
    border-color: #2F9D2A;
  }

    .contactBnr a .icon {
      background-color: #2F9D2A;
    }


/*!
 * smart phone START
 * ---------------------------------------------
 */

@media only screen and (max-width: 723px) {

#main #entryRelational .sectionContents ul li a
{ background-image: url(../images/base/arrow_02_green.png); }

#main #entryRelational .sectionContents ul li a:hover,
#main #entryRelational .sectionContents ul li a:focus
{ background-color: #F3F4F0; }

#main .contentsNav p.pager a.back,
#main .contentsNav p.pager a.forward,
#main .serialNav ul li.index a
{ border-color: #B0B4AC; }

}

/*!
 * smart phone END
 * ---------------------------------------------
 */
