@charset "utf-8";

/*
=================================================

　               color_brown CSS

配色に関するCSSです
=================================================
*/


/* text-color
--------------------------------------------- */

a,
.freetxt h4,
.freetxt .lv4
{ color: #6D4620; }

a:visited
{ color: #777; }


/* background-color
--------------------------------------------- */

#main .headline .post a:hover,
#main .headline .post a:focus,
#footer,
#main #blogComment .relation .comment,
.freetxt table thead th,
#document .column-image-auto p.caption,
#document .column-image-left p.caption,
#document .column-image-center p.caption,
#document .column-image-right p.caption,
#document .column-eximage-auto p.caption,
#document .column-eximage-left p.caption,
#document .column-eximage-center p.caption,
#document .column-eximage-right p.caption,
.home #main #pickup .post a:hover
{ background: #EEEADD; }

#header #headerNav ul li a:hover,
#header #headerNav ul li a:focus,
#main .section .sectionHeader,
#main .summary .post a:hover,
#main .headline .post a,
#main .posts .post .postContents p.moreLink,
#main .searchResult,
#sub #localNav ul li a:hover,
#sub #localNav ul li a:focus,
#sub #localNav ul li.current a:link,
#sub #localNav ul li.current a:visited,
#main .mailForm .mailStep li .num,
#sub .menu,
.freetxt h2,
.freetxt .lv2,
.freetxt table tbody th,
.freetxt .box02,
.freetxt blockquote,
.home #main #pickup .post a
{ background-color: #F2F0EC; }

#footer .backToTop,
#main .contentsNav p.pager a:active,
#main .contentsNav p.pager .cur,
#main .contentsNav p.pager .cur:visited
{ background-color: #6D4620; }

#footer .backToTop a:hover,
#main .mailForm .mailStep li.current,
#main .mailForm .mailStep li.current .num
{ background-color: #805427; }

#main .headline .even a
{ background: transparent; }


/* border-color
--------------------------------------------- */
#footer,
#main .article .articleHeader,
#main .section .sectionHeader,
#main .posts .post .postHeader,
#main #commentFb h1,
#main #comment h1,
#main .categoryHeader,
#sub #localNav .lnavTitle,
#sub .menu .menuTitle,
.freetxt h3,
.freetxt .lv3,
.freetxt hr,
.freetxt .box01,
#main .summary .post a .postContents h1
{ border-color: #6D4620; }

#header #headerNav ul,
#header #headerNav ul li a,
#main .summary .post,
#main .search .post,
#main #entryRelational ul,
#main #entryRelational ul li,
#sub #localNav ul,
#sub #localNav ul li,
#main .contentsNav,
#main .serialNav
{ border-color: #D0CDCA; }

.freetxt table,
.freetxt table th,
.freetxt table td,
#main .contentsNav p.pager a:hover,
#main .contentsNav p.pager a:focus,
#main .serialNav ul li.index,
#main .mailForm .mailStep li
{ border-color: #B8B5B0; }

#main #blogComment .relation .comment:after {
	border-color: transparent transparent #EEEADD transparent;
}

#main .mailForm .mailStep li.current .icon {
	border-color: #F5F4ED transparent;
}


/* icons
--------------------------------------------- */

#main .posts .post .postContents p.moreLink a,
#main .summary .post a .postContents p.moreLink b,
.freetxt a.linkBtn:before,
.home #main #pickup .post a .postContents p.moreLink b
{ background-image: url(../images/base/arrow_01_brown.png); }

#main .search .post p.permalink a,
#sub #localNav ul li a
{ background-image: url(../images/base/arrow_02_brown.png); }

#main #blogComment h2,
#main .sitemap ul li,
.freetxt h3,
.freetxt .lv3
{ background-image: url(../images/base/bullet_02_brown.png); }

#main .sitemap ul li ul li,
.freetxt ul li
{ background-image: url(../images/base/bullet_01_brown.png); }


/* globalNav
--------------------------------------------- */
#globalNav {
	background: #6A441E;
	border-style: solid;
	border-width: 2px 0;
	border-color: #A97432 transparent #503216;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5F3B1A), to(#754C23));
	background-image: -webkit-linear-gradient(top, #5F3B1A, #754C23);
	background-image: -moz-linear-gradient(top, #5F3B1A, #754C23);
	background-image: -ms-linear-gradient(top, #5F3B1A, #754C23);
	background-image: -o-linear-gradient(top, #5F3B1A, #754C23);
	background-image: linear-gradient(top, #5F3B1A, #754C23);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#5F3B1A, endcolorstr=#754C23));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#5F3B1A, endcolorstr=#754C23))";
}

#globalNav ul {
	border-color: #5F3B1A;
}

	#globalNav ul li {
		float: left;
	}

		#globalNav ul li a {
			color: #EEEADD;
			border-color: #5F3B1A;
			text-shadow: 0 0 .3em rgba(64,16,0,.5);
		}

			#globalNav ul li a:hover,
			#globalNav ul li a:focus,
			#globalNav ul li.stay a:link,
			#globalNav ul li.stay a:visited {
				background-color: #865A2A;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#744A22), to(#8B602F));
				background-image: -webkit-linear-gradient(top, #744A22, #8B602F);
				background-image: -moz-linear-gradient(top, #744A22, #8B602F);
				background-image: -ms-linear-gradient(top, #744A22, #8B602F);
				background-image: -o-linear-gradient(top, #744A22, #8B602F);
				background-image: linear-gradient(top, #744A22, #8B602F);
				filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#744A22, endcolorstr=#8B602F));
				-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#744A22, endcolorstr=#8B602F))";
			}

#globalNav ul li ul
{ background-color: #F2F0EC; }

#globalNav ul li ul li a {
	border-color: #D0CDCA;
}

#globalNav ul li ul li a:link,
#globalNav ul li ul li a:visited,
#globalNav ul li.stay ul li a:link,
#globalNav ul li.stay ul li a:visited {
	background: #F2F0EC;
	filter: none;
}

#globalNav ul li ul li a:hover,
#globalNav ul li ul li a:focus,
#globalNav ul li.stay ul li a:hover,
#globalNav ul li.stay ul li a:focus {
	background: #FBF9F5;
	filter: none;
}


/* searchBox
--------------------------------------------- */
#header #searchBox {
	background-color: #F5F4ED;
	border-color: #B8B5B0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EBE9E2), to(#F6F5EF));
	background-image: -webkit-linear-gradient(top, #EBE9E2, #F6F5EF);
	background-image: -moz-linear-gradient(top, #EBE9E2, #F6F5EF);
	background-image: -ms-linear-gradient(top, #EBE9E2, #F6F5EF);
	background-image: -o-linear-gradient(top, #EBE9E2, #F6F5EF);
	background-image: linear-gradient(top, #EBE9E2, #F6F5EF);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#EBE9E2, endcolorstr=#F6F5EF));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#EBE9E2, endcolorstr=#F6F5EF))";
}


/* contactBnr
------------------------------------------------- */

.contactBnr a {
	border-color: #B8B5B0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEADD));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #EEEADD);
	background-image: -moz-linear-gradient(top, #FFFFFF, #EEEADD);
	background-image: -ms-linear-gradient(top, #FFFFFF, #EEEADD);
	background-image: -o-linear-gradient(top, #FFFFFF, #EEEADD);
	background-image: linear-gradient(top, #FFFFFF, #EEEADD);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEEADD));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEEADD))";
}

.contactBnr a:hover,
.contactBnr a:focus {
	border-color: #6D4620;
}

	.contactBnr a .icon {
		background-color: #805427;
	}


/* smartPhone START
================================================ */
@media only screen and (max-width: 723px) {

#main #entryRelational .sectionContents ul li a
{ background-image: url(../images/base/arrow_02_brown.png); }

#main #entryRelational .sectionContents ul li a:hover,
#main #entryRelational .sectionContents ul li a:focus
{ background-color: #F2F0EC; }

#main .contentsNav p.pager a.back,
#main .contentsNav p.pager a.forward,
#main .serialNav ul li.index a
{ border-color: #B8B5B0; }

}
/* smartPhone END
================================================ */

