@charset "utf-8";
/*!
 * parts CSS
 * ---------------------------------------------
 * 部分的なパーツに関するCSSです
 */


/* social */

#main .social {
  margin: 1.6em 0;
  zoom: 1;
}
#main .social:after {
  content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}
  #main .social .hatena,
  #main .social .twitter,
  #main .social .google,
  #main .social .facebook,
  #main .social .mixi,
  #main .social .weibo {
    float: left;
  }

  #main .socialS .twitter { width: 105px; }
  #main .socialS .facebook { width: 110px; }
  #main .socialS .google { width: 70px; }
  #main .socialS .mixi { width: 83px; }
  #main .socialS .hatena { width: 60px; }
  #main .socialS .weibo { width: 65px; }

  #main .socialL .twitter { width: 130px; }
  #main .socialL .google { width: 80px; }
  #main .socialL .mixi { width: 83px; }
  #main .socialL .hatena { width: 115px; }
  #main .socialL .weibo { width: 65px; }

  #main .socialL .fbLike {
    clear: both;
    margin: 0;
    padding-top: 1.6em;
  }


/* backToTop */

#footer .backToTop {
  width: 32px;
  height: 96px;
  background-color: #999;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,.3);
  -ms-box-shadow: 0 0 6px rgba(0,0,0,.3);
  -o-box-shadow: 0 0 6px rgba(0,0,0,.3);
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  }
  #footer .backToTop a {
    overflow: hidden;
    display: block;
    width: 32px;
    height: 48px;
    text-indent: -999px;
    text-decoration: none;
  }
  #footer .backToTop a.up {
    -webkit-border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -ms-border-radius: 6px 0 0 0;
    -o-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
    background-position: 50% -290px;
  }
  #footer .backToTop a.down {
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -ms-border-radius: 0 0 0 6px;
    -o-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
    background-position: 50% -378px;
  }
  #footer .backToTop a:hover {
    background-color: #BBB;
  }


/* localNav */

#sub #localNav {
  margin: 0 0 3.2em;
}

  #sub #localNav .lnavTitle {
    padding: .88em 0 .67em .2em;
    color: #333;
    font-size: 180%;
    border-style: solid;
    border-width: 3px 0 0;
    border-color: #999;
    vertical-align: bottom;
  }

  #sub #localNav ul {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #CCC;
  }

    #sub #localNav ul li {
      border-style: solid;
      border-width: 0 0 1px;
      border-color: #CCC;
    }

      #sub #localNav ul li a {
        display: block;
        padding: .8em .28em .6em 1.7em;
        background: #FFF url(../images/base/arrow_02_gray.png) no-repeat 8px 1em;
        color: #333;
        font-size: 140%;
        line-height: 1.3;
        text-decoration: none;
        zoom: 1;
      }

  #sub #localNav ul li ul {
    border-width: 0;
    padding-bottom: .7em;
  }

    #sub #localNav ul li ul li {
      border-width: 0;
    }

      #sub #localNav ul li ul li a {
        display: block;
        padding: .5em .3em .4em 2em;
        background: #FFF url(../images/base/bullet_01_gray.png) no-repeat 8px .9em;
        border-width: 0;
        font-size: 120%;
      }

      #sub #localNav ul li ul li a.current:link,
      #sub #localNav ul li ul li a.current:visited {
        background-color: #FFF;
      }

      #sub #localNav ul li a:hover,
      #sub #localNav ul li a:focus,
      #sub #localNav ul li a.current:link,
      #sub #localNav ul li a.current:visited,
      #sub #localNav ul li.stay ul li a.current:hover,
      #sub #localNav ul li.stay ul li a.current:focus {
        background-color: #F3F3F3;
      }


/* topicPath */

#main .topicPath {
  color: #777;
  font-size: 120%;
  margin-bottom: 1.6em;
}

#main .topicPath p {
}

  #main .topicPath p a,
  #main .topicPath p .sep {
    display: -moz-inline-box;
    display: inline-block;
    height: 1.2em;
    line-height: 1.2em;
    vertical-align: middle;
  }

  #main .topicPath p a,
  #main .topicPath p a:visited {
    color: #777;
    text-decoration: none;
  }

  #main .topicPath p a.firstchild {
    padding-left: 0;
    margin-left: 0;
  }

  #main .topicPath p .sep {
    margin: 0 .5em;
    line-height: 1em;
  }

  #main .topicPath p a:hover,
  #main .topicPath p a:focus {
    text-decoration: underline;
  }


/* categoryHeader */

#main .categoryHeader {
  position: relative;
  margin: 1.6em 0 3.2em;
}

#main .categoryNoImage {
  margin: 2.4em 0 3.2em;
}

  #main .categoryHeader h1 {
    position: absolute;
    bottom: 20%;
    left: 0;
    padding: .4em 3em .3em .8em;
    background: #FFF;
    background-color: rgba(255, 255, 255, .7);
    color: #000;
    font-size: 280%;
    z-index: 10;
  }

  #main .categoryHeader figure {
    position: relative;
  }

  #main .categoryHeader figure:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
    z-index: 11;
  }

  #main .categoryNoImage h1 {
    position: static;
    padding: 0;
    color: #333;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }


/* categoryDesc */

#main .categoryDesc {
  margin: -1em 0 2em .1em;
  color: #777;
  font-size: 160%;
  line-height: 1.25; /* 20px */
}


/* contentsNav */

#main .contentsNav {
  margin: 3.2em 0;
  padding: .5em 0;
  border-style: solid;
  border-width: 1px 0;
  border-color: #CCC;
  text-align: center;
  line-height: 1.1;
}
*:first-child+html #main .contentsNav {/* IE 7 */
  zoom: 1;
}

  #main .contentsNav p.pager {
    letter-spacing: -0.4em;
  }

    #main .contentsNav p.pager a,
    #main .contentsNav p.pager .omission {
      overflow: hidden;
      display: -moz-inline-box;
      display: inline-block;
      width: 1.8em;
      height: 1.8em;
      line-height: 1.8em;
      vertical-align: middle;
      margin-right: .5em;
      border-style: solid;
      border-color: #FFF;
      border-width: 1px;
      font-size: 160%;
      letter-spacing: normal;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      zoom: 1;
    }

    #main .contentsNav p.pager a,
    #main .contentsNav p.pager a:visited {
      background-color: #FFF;
      border-color: #FFF;
      color: #333;
      text-decoration: none;
    }

    #main .contentsNav p.pager a:hover,
    #main .contentsNav p.pager a:focus {
      border-color: #999;
    }

    #main .contentsNav p.pager a:active,
    #main .contentsNav p.pager .cur,
    #main .contentsNav p.pager .cur:visited {
      background-color: #999;
      border-color: #FFF;
      color: #FFF;
    }

    #main .contentsNav p.pager .omission {
      line-height: 1.3em;
    }

    #main .contentsNav p.pager a .ico {
    }

    #main .contentsNav p.pager .sep {
      display: none;
    }


/* serialNav */

#main .serialNav {
  position: relative;
  margin: 1.6em 0 4.8em;
  padding: 1em 0;
  border-style: solid;
  border-width: 1px 0;
  border-color: #CCC;
}

  #main .serialNav ul {
    width: 100%;
    font-size: 140%;
    height: auto !important; /* for Modern Browser */
    height: 2em; /* for IE */
    min-height: 2em; /* for Modern Browser */
    zoom: 1;
  }
  #main .serialNav ul:after {
    content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
  }

    #main .serialNav ul li {
      overflow: hidden;
    }

    #main .serialNav ul li.prev {
      float: left;
      width: 35%;
    }

    #main .serialNav ul li.index {
      position: absolute;
      top: 50%;
      left: 38%;
      width: 26%;
      padding: 0 1%;
      margin-top: -1em;
      border-style: solid;
      border-width: 0 1px;
      border-color: #CCC;
      text-align: center;
    }

    #main .serialNav ul li.next {
      float: right;
      width: 35%;
      text-align: right;
    }

    #main .serialNav ul li a {
      display: -moz-inline-box;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
    }

    #main .serialNav ul li a:link,
    #main .serialNav ul li a:visited {
      color: #333;
      text-decoration: none;
    }

    #main .serialNav ul li a:hover,
    #main .serialNav ul li a:focus,
    #main .serialNav ul li a:active {
      text-decoration: underline;
    }


/* entryRelational */

#main #entryRelational {
  margin-bottom: 3.2em;
}

  #main #entryRelational .sectionContents {
    padding-left: 1.2em;
  }

  #main #entryRelational .sectionContents ul li {
      margin: 0 0 .8em;
      font-size: 140%;
      line-height: 1.286; /* 18px */
  }

      #main #entryRelational .sectionContents ul li a {
      }

      #main #entryRelational .sectionContents ul li a,
      #main #entryRelational .sectionContents ul li a:visited {
        color: #333;
      }


/* commentFb */

#main #commentFb {
  margin-bottom: 3.2em;
}

#main #commentFb .sectionContents {
  margin: 0 1.2em;
}


/* blogComment(acms only) */

#main #blogComment {
  margin: 0;
}

  #main #blogComment h2 {
    margin: 0 0 1.6em;
    padding: .1em 0 0 .9em;
    background: transparent url(../images/base/bullet_02_gray.png) no-repeat 0 50%;
    border: 0 none;
    color: #333;
    font-size: 180%;
    font-weight: bold;
    line-height: 1.1;
  }

/* blogComment > relation */

#main #blogComment .relation {
  margin-bottom: 3.2em;
}

#main #blogComment .relation .comment {
  position: relative;
  margin: 0 0 1.6em 2em;
  line-height: 1.5em;
  background: #EEE;
  padding: 0 1em 1em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

  #main #blogComment .relation .comment:after {
    content: ' ';
    position: absolute;
    overflow: hidden;
    bottom: 15%;
    left: -2em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.5em 0 2em 2em;
    border-color: transparent transparent #EEE transparent;
    z-index: 50;
  }

    #main #blogComment .relation .comment h1 {
      padding: 1em 0 .5em;
      font-size: 160%;
      line-height: 1.244; /* 20px */
    }

    #main #blogComment .relation .comment .commentContents {
      margin-bottom: 1em;
      font-size: 140%;
      line-height: 1.5; /* 21px */
    }

    #main #blogComment .relation .comment .commentFooter {
      font-size: 140%;
      line-height: 1.286; /* 18px */
      text-align: right;
      zoom: 1;
    }
    #main #blogComment .relation .comment .commentFooter:after {
      content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
    }

#main #blogComment .relation .comment .commentFooter p {
  display: inline;
  margin-left: 1em;
}

  #main #blogComment .relation .comment .commentFooter a,
  #main #blogComment .relation .comment .commentFooter a:visited {
    color: #333;
  }

  #main #blogComment .relation .comment .commentFooter p.backToTop a,
  #main #blogComment .relation .comment .commentFooter p.backToTop a:visited {
    text-decoration: none;
  }

  #main #blogComment .relation .comment .commentFooter form {
    float: left;
  }

    #main #blogComment .relation .comment .commentFooter form input {
      height: 2em;
      line-height: 2em;
    }

/* blogComment > comForm */

#main #blogComment .comForm {
  margin-bottom: 3.2em;
}

  #main #blogComment .comForm dl {
    width: 100%;
    zoom: 1;
    font-size: 140%;
  }
  #main #blogComment .comForm dl:after {
    content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
  }

  #main #blogComment .comForm dl dt {
    clear: left;
    float: left;
    width: 18%;
    margin-bottom: 1em;
    padding: .7em 2% 0 0;
    font-weight: normal;
    line-height: 1.2;
  }

  #main #blogComment .comForm dl dd {
    overflow: hidden;
    width: 80%;
    padding: 1px 0 .7em;
    line-height: 1.2;
  }

  #main #blogComment .comFormConfirm dl dd {
    margin-bottom: 1em;
    padding: .7em 0 0 0;
  }

  #main #blogComment .comForm dl dd .inputS {
    width: 25%;
    max-width: 120px;
  }

  #main #blogComment .comForm dl dd .inputM {
    width: 50%;
    max-width: 240px;
  }

  #main #blogComment .comForm dl dd .inputL {
    width: 98%;
    max-width: 554px;
  }

  #main #blogComment .comForm dl dd.persistent #input-checkbox-persistent {
  }

  #main #blogComment .comForm dl dd.persistent label {
    display: -moz-inline-box;
    display: inline-block;
    height: 2.2em;
    line-height: 2.2em;
    vertical-align: middle;
  }

  #main #blogComment .comForm p {
    margin: 2em 0 1em;
    font-size: 140%;
    line-height: 1.286; /* 18px */
    text-align: center;
  }

#main #blogComment .comForm .comPost {
    position: relative;
    margin: 2em 0 0;
    padding: 0;
    background: transparent;
    text-align: center;
}

  #main #blogComment .comForm .comPost form {
    display: inline;
  }

    #main #blogComment .comForm .comPost .submitBtn {
      width: auto;
      margin: 0 .5em;
      font-size: 160%;
    }

    #main #blogComment .comForm .comPost input#btnComConfirm,
    #main #blogComment .comForm .comPost input#btnComSubmit,
    #main #blogComment .comForm .comPost input#btnComUpdate,
    #main #blogComment .comForm .comPost input#btnComCancel,
    #main #blogComment .comForm .comPost input#btnComDelete,
    #main #blogComment .comForm .comPost input#btnComToIndex {
      width: 8em;
    }

    #main #blogComment .comForm .comPost input#btnComToInput {
      position: absolute;
      top: .3em;
      left: 0;
      margin: 0;
      padding: 0 1em;
      font-size: 140%;
    }

    #main #blogComment .comForm .comPost input#btnComDelete {
      color: #FFF;
      border-color: #C22;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FF4455), to(#C61111));
      background-image: -webkit-linear-gradient(top, #FF4455, #C61111);
      background-image: -moz-linear-gradient(top, #FF4455, #C61111);
      background-image: -ms-linear-gradient(top, #FF4455, #C61111);
      background-image: -o-linear-gradient(top, #FF4455, #C61111);
      background-image: linear-gradient(top, #FF4455, #C61111);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FF4455, endcolorstr=#C61111));
      -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FF4455, endcolorstr=#C61111))";
    }

    #main #blogComment .comForm .comPost input#btnComDelete:hover {
      border-color: #600;
    }

    #main #blogComment .comFormConfirm .comPost input#btnComDelete {
      width: 12em;
    }

  #main #blogComment .comAuth .inputTxt {
    width: 150px;
    height: 2.2em;
    line-height: 2.2em;
    margin-right: .5em;
  }

  #main #blogComment .comAuth .submitBtn {
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
  }


/* mailForm(acms only) */

#main .mailForm {
}

/* mailStep */

#main .mailForm .mailStep {
  margin-bottom: 1.6em;
  width: 100%;
  zoom: 1;
}
#main .mailForm .mailStep:after {
  content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

  #main .mailForm .mailStep li {
    position: relative;
    float: left;
    background-image: none;
    width: 33%;
    margin: 0 -1px 0 0;
    padding: 0;
    border-style: solid;
    border-color: #CCC;
    border-width: 1px;
  }

  #main .mailForm .mailStep li.current {
    background-color: #999;
    color: #FFF;
  }

    #main .mailForm .mailStep li.current strong {
      font-weight: normal;
    }

    #main .mailForm .mailStep li .num {
      display: -moz-inline-box;
      display: inline-block;
      vertical-align: middle;
      margin-right: .5em;
      height: 32px;
      line-height: 33px;
      padding: 0 .5em;
      font-size: 150%;
      background: #EEE;
    }

    #main .mailForm .mailStep li.current .num {
      background-color: #999;
    }

    #main .mailForm .mailStep li.current .icon {
      position: absolute;
      overflow: hidden;
      top: 0;
      right: -16px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px;
      border-color: #EEE transparent;
      z-index: 50;
    }


/* mailForm > lead */

#main .mailForm .lead {
  margin-bottom: 1.6em;
  font-size: 114.3%; /* 16px */
}

#main .form-reapply .lead strong {
  color: #E02;
  font-weight: normal;
}

#main .mailForm .lead p {
  margin-bottom: 1em;
}

#main .mailForm .lead p a.linkBtn {
  font-size: 100%;
}

/* mailForm > ablogcmsForm */

#main .mailForm table.ablogcmsForm {
  margin-bottom: 0;
  width: 100%;
}

  #main .mailForm table.ablogcmsForm tr th {
    width: 23%;
    padding: .5em 0 .5em 2%;
    text-align: left;
  }

  #main .form-step table.ablogcmsForm tr th,
  #main .form-reapply table.ablogcmsForm tr th {
    padding-top: .9em;
  }

  #main .mailForm table.ablogcmsForm tr td {
    width: 75%;
    padding-bottom: .5em;
  }

  #main .mailForm table.ablogcmsForm tr td .errorMsg {
    margin: .5em 0 0;
    padding: .3em;
    background: #FFE9F3;
    color: #E02;
  }

    #main .mailForm table.ablogcmsForm tr td .require {
      display: -moz-inline-box;
      display: inline-block;
      vertical-align: top;
      margin: .5em 0 0 .3em;
      font-size: 75%;
      height: 1.6em;
      line-height: 1.8em;
      background: #D02;
      padding: 0 .5em;
      color: #FFF;
    }

  #main .mailForm table.ablogcmsForm tr td .inputSS {
    width: 20%;
    max-width: 100px;
  }

  #main .mailForm table.ablogcmsForm tr td .inputS {
    width: 25%;
    max-width: 120px;
  }

  #main .mailForm table.ablogcmsForm tr td .inputM {
    width: 62%;
    max-width: 350px;
  }

  #main .mailForm table.ablogcmsForm tr td .inputL {
    width: 80%;
    max-width: 470px;
  }

  #main .mailForm table.ablogcmsForm tr td #zip {
    margin-bottom: .5em;
  }

  #main .mailForm table.ablogcmsForm tr td #pref_code {
    vertical-align: top;
    margin-bottom: .5em;
  }

  #main .mailForm table.ablogcmsForm tr td #address {
    margin-left: .5em;
  }

  #main .mailForm table.ablogcmsForm tr td select {
    padding: 2px;
  }

  #main .mailForm table.ablogcmsForm tr td .checkbox {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
  }

  #main .mailForm table.ablogcmsForm tr td .attachment-before {
    margin-right: .3em;
  }

  #main .mailForm table.ablogcmsForm tr td .attachment-center {
    margin: 0 .3em;
  }

  #main .mailForm table.ablogcmsForm tr td .attachment-after {
    margin-left: .3em;
  }

  #main .mailForm .submit {
    position: relative;
    margin: 2em 0 0;
    text-align: center;
  }

    #main .mailForm .submit form {
        display: inline;
    }

    #main .mailForm .submit .submitBtn {
      width: auto;
    }

    #main .mailForm .submit input#btnConfirm,
    #main .mailForm .submit input#btnSubmit {
      width: 12em;
      height: 2.5em;
      line-height: 2.5em;
      font-size: 114.3%; /* 16px */
    }

    #main .mailForm .submit input#btnToInput {
      position: absolute;
      top: .3em;
      left: 0;
      padding: 0 1em;
    }


/* menu */

#sub .menu {
  margin-bottom: 1.6em;
  padding: 1.2em .8em .8em;
  background: #F3F3F3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

  #sub .menu .menuTitle {
    margin-bottom: .5em;
    font-size: 160%;
    font-weight: bold;
    line-height: 1.3;
  }

  #sub .menu a.cur,
  #sub .menu a.cur:visited {
    color: #333;
    text-decoration: none;
  }

  #sub .menu .menuContents {
    font-size: 120%;
    line-height: 1.5; /* 18px */
  }

  #sub .menu .menuContents p {
    margin-bottom: 1em;
  }

  #sub .menu .menuContents ul {
  }

    #sub .menu .menuContents ul li {
      margin-bottom: .5em;
    }

    #sub .menu .menuContents ul li a,
    #sub .menu .menuContents ul li a:visited {
      color: #333;
    }


/* menu > tagCloud */

#sub #menu-tagCloud .menuContents p {
  margin: 0;
  line-height: 1;
  _height: 1px; /* for IE6 */
}

#sub #menu-tagCloud .menuContents p a {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  font-size: 250%;
  font-weight: bold;
  padding: 2px .3em;
  color: #333;
}

#sub #menu-tagCloud .menuContents p a:link,
#sub #menu-tagCloud .menuContents p a:visited {
  color: #333;
  text-decoration: none;
}

/* Tag level 1 > 6 */

#sub #menu-tagCloud .menuContents p .tagSize1 a:link,
#sub #menu-tagCloud .menuContents p .tagSize1 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize2 a:link,
#sub #menu-tagCloud .menuContents p .tagSize2 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize3 a:link,
#sub #menu-tagCloud .menuContents p .tagSize3 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize4 a:link,
#sub #menu-tagCloud .menuContents p .tagSize4 a:visited
 {
  font-size: 80%;
  font-weight: normal;
  color: #AAA;
}

#sub #menu-tagCloud .menuContents p .tagSize5 a:link,
#sub #menu-tagCloud .menuContents p .tagSize5 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize6 a:link,
#sub #menu-tagCloud .menuContents p .tagSize6 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize7 a:link,
#sub #menu-tagCloud .menuContents p .tagSize7 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize8 a:link,
#sub #menu-tagCloud .menuContents p .tagSize8 a:visited
 {
  font-size: 100%;
  font-weight: normal;
  color: #999;
}

#sub #menu-tagCloud .menuContents p .tagSize9 a:link,
#sub #menu-tagCloud .menuContents p .tagSize9 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize10 a:link,
#sub #menu-tagCloud .menuContents p .tagSize10 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize11 a:link,
#sub #menu-tagCloud .menuContents p .tagSize11 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize12 a:link,
#sub #menu-tagCloud .menuContents p .tagSize12 a:visited
 {
  font-size: 120%;
  font-weight: normal;
  color: #888;
}

#sub #menu-tagCloud .menuContents p .tagSize13 a:link,
#sub #menu-tagCloud .menuContents p .tagSize13 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize14 a:link,
#sub #menu-tagCloud .menuContents p .tagSize14 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize15 a:link,
#sub #menu-tagCloud .menuContents p .tagSize15 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize16 a:link,
#sub #menu-tagCloud .menuContents p .tagSize16 a:visited
 {
  font-size: 150%;
  font-weight: bold;
  color: #777;
}

#sub #menu-tagCloud .menuContents p .tagSize17 a:link,
#sub #menu-tagCloud .menuContents p .tagSize17 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize18 a:link,
#sub #menu-tagCloud .menuContents p .tagSize18 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize19 a:link,
#sub #menu-tagCloud .menuContents p .tagSize19 a:visited,
#sub #menu-tagCloud .menuContents p .tagSize20 a:link,
#sub #menu-tagCloud .menuContents p .tagSize20 a:visited
 {
  font-size: 180%;
  font-weight: bold;
  color: #555;
}

/* onmouse */

#sub #menu-tagCloud .menuContents p a:hover {
  background: #333;
  color: #FFF !important;
}

#sub #menu-tagCloud .menuContents p .sep {
  display: none;
}


/* contactBnr */

.contactBnr {
  margin-bottom: 1.6em;
}

  .contactBnr a {
    display: block;
    width: 206px;
    height: 46px;
    line-height: 48px;
    padding: 0 8px;
    vertical-align: middle;
    font-size: 200%;
    background: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: linear-gradient(top, #FFFFFF, #EEEEEE);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEEEEE));
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEEEEE))";
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
  }

  .contactBnr a,
  .contactBnr a:visited {
    color: #333;
    text-decoration: none;
  }

  .contactBnr a:hover,
  .contactBnr a:focus {
    border-color: #333;
  }

    .contactBnr a .icon {
      display: -moz-inline-box;
      display: inline-block;
      width: 41px;
      height: 34px;
      background-position: 6px -193px;
      background-color: #999;
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: #FFF;
      margin-right: 1em;
      vertical-align: middle;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
    }


/* banner */

#sub .banner {
  margin-bottom: 1.6em;
}

  #sub .banner p {
    margin-bottom: 1em;
    text-align: center;
  }


/* twitter */

#sub .twitterBtn {
  margin-bottom: 1.6em;
}

  #sub .twitterBtn a {
    overflow: hidden;
    display: block;
    vertical-align: middle;
    width: 139px;
    height: 4.8em;
    padding-left: 85px;
    background-position: -7px -7px;
    border-style: solid;
    border-color: #A9C0D9;
    border-width: 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
  }

  #sub .twitterBtn a,
  #sub .twitterBtn a:visited {
    color: #346;
    text-decoration: none;
  }

  #sub .twitterBtn a:hover {
    color: #09C;
  }

  #sub .twitterBtn a .caption {
    display: block;
    font-size: 110%;
    padding: .8em 0 .5em;
  }

  *:first-child+html #sub .twitterBtn a .caption {/* IE 7 */
    padding: .6em 0 .5em;
  }

  #sub .twitterBtn a .twitterID {
    display: block;
    font-weight: bold;
    font-size: 140%;
  }

  *:first-child+html #sub .twitterBtn a .twitterID {/* IE 7 */
    line-height: 1.4;
  }


/* fbPage */

#sub .fbPage {
  margin-bottom: 1.6em;
}


/* sitemap */

#main .sitemap ul {
  margin: 0;
}

  #main .sitemap ul li {
    margin: 0;
    padding-left: 1.7em;
    background: url(../images/base/bullet_02_gray.png) no-repeat .5em 0;
    font-size: 114.3%; /* 16px */
    font-weight: bold;
    line-height: 1.286; /* 18px */
    list-style-type: none;
  }

#main .sitemap ul li ul {
}

  #main .sitemap ul li ul li {
    margin: 1.5em 0;
    background: url(../images/base/bullet_01_gray.png) no-repeat .5em .4em;
    font-size: 85%;
  }

#main .sitemap ul li ul li ul {
}

  #main .sitemap ul li ul li ul li {
    display: -moz-inline-box;
    display: inline-block;
    margin: 1em 2em 0 0;
    padding-left: 0;
    background-image: none;
    font-weight: normal;
  }

#main .sitemap ul li a,
#main .sitemap ul li a:visited {
  color: #333;
}


/*!
 * tablet START
 * ---------------------------------------------
 */

@media only screen and (min-width: 724px) and (max-width: 980px) {


#sub .twitterBtn {
  clear: both;
}

#sub .banner p {
  margin: 0 1em 1em 0;
  display: inline-block;
  vertical-align: top;
}


}


/*!
 * tablet START
 * ---------------------------------------------
 */

@media only screen and (min-width: 660px) and (max-width: 979px) {


}

/*!
 * tablet END
 * ---------------------------------------------
 */

/*!
 * smartphone START
 * ---------------------------------------------
 */

@media only screen and (max-width: 723px) {

#main .social {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

  #main .socialL .hatena,
  #main .socialL .twitter,
  #main .socialL .google,
  #main .socialL .mixi,
  #main .socialL .weibo {
    height: 48px;
  }

#sub #localNav,
#sub .menu {
  width: 100%;
  margin: 0 0 3.2em;
  padding: 0;
  background: transparent !important;
  border-radius: 0;
}

  #sub #localNav .lnavTitle,
  #sub .menu .menuTitle {
    margin: 0;
    padding: 1em .5em;
    font-size: 180%;
    border-style: solid;
    border-width: 3px 0 0;
    border-color: #999;
    vertical-align: bottom;
  }

  #sub #localNav ul li a {
    font-size: 140%;
    padding: 1em 1em 1em 30px;
    background-position: 10px 1.2em;
  }

    #sub #localNav ul li ul li a {
      font-size: 100%;
    }

  #sub .menu .menuContents {
    padding: 0 1em;
    font-size: 140%;
  }

#main #entryRelational {
}

  #main #entryRelational .sectionHeader {
    margin: 0;
  }

    #main #entryRelational .sectionHeader h1 {
      font-size: 180%;
    }

  #main #entryRelational .sectionContents {
    padding: 0;
  }

    #main #entryRelational .sectionContents ul {
      border-style: solid;
      border-width: 1px 0 0;
      border-color: #CCC;
    }

    #main #entryRelational .sectionContents ul li {
      margin: 0;
      border-style: solid;
      border-width: 0 0 1px;
      border-color: #CCC;
    }

      #main #entryRelational .sectionContents ul li a {
        display: block;
        padding: 1em 1em 1em 30px;
        background: url(../images/base/arrow_02_gray.png) no-repeat 10px 1.2em;
    }

      #main #entryRelational .sectionContents ul li a,
      #main #entryRelational .sectionContents ul li a:visited {
        text-decoration: none;
      }

      #main #entryRelational .sectionContents ul li a:hover,
      #main #entryRelational .sectionContents ul li a:focus {
        background-color: #F3F3F3;
      }

.contactBnr,
#sub .twitterBtn,
#sub .fbPage,
#sub .banner {
  margin: 0 1em 1.6em;
}

  .contactBnr a {
    margin: 0 auto;
  }

#main .topicPath {
  font-size: 140%;
  margin: 0 .7em .7em;
  line-height: 1.5;
}

  #main .topicPath a,
  #main .topicPath a:visited {
    color: #333;
  }

#main .categoryHeader {
  margin: 0 0 2.4em;
  padding: 2.4em 0 0;
  border-style: solid;
  border-width: 3px 0 0;
  border-color: #999;
}

  #main .categoryHeader h1 {
    position: static;
    background: transparent;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 240%;
    box-shadow: none;
    text-align: center;
  }

#main .categoryHeader img {
  display: none;
}

#main .categoryDesc {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 140%;
}

#main .contentsNav {
  margin: 0;
  padding: 1em 0;
  border-width: 1px 0 0;
}

  #main .contentsNav p.pager a {
    display: none;
  }

  #main .contentsNav p.pager a.back,
  #main .contentsNav p.pager a.forward {
    display: -moz-inline-box;
    display: inline-block;
    width: 43%;
    margin: 0 2%;
    border-color: #999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: linear-gradient(top, #FFFFFF, #EEEEEE);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEEEEE));
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEEEEE))";
  }

  #main .contentsNav p.pager a.back:after {
    content: " 前のページ";
    font-size: 90%;
  }

  #main .contentsNav p.pager a.forward:before {
    content: "次のページ ";
    font-size: 90%;
  }

#main .serialNav {
  margin: 0;
  padding-bottom: 6em;
  border-width: 1px 0 0;
}

  #main .serialNav ul {
    height: auto !important;
    min-height: auto;
  }

  #main .serialNav ul li {
    overflow: visible;
  }

  #main .serialNav ul li.prev,
  #main .serialNav ul li.next {
    float: none;
    display: block;
    width: auto;
    margin: 0 1em;
    padding: 0;
    text-align: left;
  }

  #main .serialNav ul li.index {
    width: 100%;
    top: auto;
    bottom: 1em;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0 none;
    text-align: center;
    line-height: 1.1;
  }

  #main .serialNav ul li.index a {
    display: -moz-inline-box;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 1px 1em;
    height: 2.2em;
    line-height: 2.2em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: linear-gradient(top, #FFFFFF, #EEEEEE);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEEEEE));
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#FFFFFF, endcolorstr=#EEEEEE))";
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    zoom: 1;
  }

  #main .serialNav ul li.prev a:before {
    content: '< ';
  }

  #main .serialNav ul li.next a:after {
    content: ' >';
  }

#main #blogComment .relation .comment {
  margin-right: 1em;
}

#main #blogComment .relation .comment .commentFooter {
  text-align: left;
}

  #main #blogComment .relation .comment .commentFooter p {
    display: block;
    margin: 0 0 .3em;
  }

  #main #blogComment .relation .comment .commentFooter p.backToTop {
    display: none;
  }


#main #blogComment .commentForm {
  margin: 0 1em;
}

  #main #blogComment .commentForm dl dt {
    float: none;
    width: auto;
    padding: 0;
    margin: 0 0 .3em;
  }

  #main #blogComment .commentForm dl dd {
    overflow: visible;
    width: auto;
    padding: 0;
    margin: 0 0 .5em;
  }

#main #blogComment .comForm .comPost input#btnToInput {
  position: static;
  display: block;
  margin: -1em 0 2em;
  font-size: 87.5%;
}


#main .mailForm .mailStep li {
  float: none;
  width: auto;
  margin-bottom: .5em;
}

  #main .mailForm .mailStep li.current .icon {
    display: none;
  }

#main .mailForm .lead {
  font-size: 100%;
}

#main .mailForm table tr th {
  display: block;
  font-size: 100%;
}

#main .mailForm table.ablogcmsForm tr th {
  width: auto;
}

#main .form-step table.ablogcmsForm tr th,
#main .form-reapply table.ablogcmsForm tr th {
  padding-top: .5em;
}

#main .mailForm table tr td {
  display: block;
  font-size: 100%;
}

#main .mailForm table.ablogcmsForm tr td {
  width: auto;
}

  #main .mailForm table.ablogcmsForm tr td .inputSS {
    width: 25%;
    max-width: 80px;
  }

  #main .mailForm table.ablogcmsForm tr td .inputS {
    width: 25%;
    max-width: 80px;
  }

  #main .mailForm table.ablogcmsForm tr td .inputM {
    width: 80%;
    max-width: 470px;
  }

#main .mailForm table.ablogcmsForm tr td #address {
  margin-left: 0;
}

#main .mailForm .submit input#btnToInput {
  position: static;
  display: block;
  margin: -1em 0 2em;
  font-size: 87.5%;
}


}

/*!
 * smartphone END
 * ---------------------------------------------
 */
